@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #23252c;
}

.header {
  width: 100%;
  background-color: #23252c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 30px auto;
}

.header > img {
  width: 317px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

.header__content {
  width: 317px;
  height: 399px;
  background-color: #1a1b21;
  padding: 10px;
}

.header__text {
  text-align: center;
  padding: 5px;
}

.header__text > h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.header__text > p {
  color: #f3bf99;
  font-size: 12px;
  font-weight: 400;
}

.header__text > small {
  color: #fff;
  font-size: 10px;
}

.header__links {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0px 10px 5px;
}

.header__links > a {
  text-decoration: none;
}

.header__links i {
  position: relative;
  padding-right: 10px;
}

.btn {
  width: 115px;
  height: 35px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
}

.btn-email {
  color: #333;
  background-color: #fff;
  margin: 10px;
}

.btn-email > i {
  color: #333;
}

.btn-lin {
  color: #fff;
  background-color: #5093e2;
  margin: 10px;
}

.btn-lin > i {
  color: #fff;
}

/* ===== MAIN CONTENT STYLING =====*/
.main-wrapper {
  padding: 5px 25px;
  color: #f5f5f5;
}

.main-wrapper > h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.main-wrapper > p {
  font-size: 10px;
  font-weight: 400;
  margin: 4px auto;
  text-align: justify;
  text-indent: 20px;
  line-height: 15.36px;
}

/* ====== FOOTER STYLING =====*/
.footer_main {
  width: 317px;
  height: 60px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}

.footer_content {
  width: 100%;
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer_content .bx {
  color: #918e9b;
  cursor: pointer;
}
